
@tailwind base;
@tailwind components;
@tailwind utilities;
#keepcomingback::-webkit-scrollbar{
    display: none;
}
#keepcomingbackTrack{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#trending::-webkit-scrollbar{
    display: none;
}
#trendingTrack{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#criticallyacclaimed::-webkit-scrollbar{
    display: none;
}
#criticallyacclaimedTrack{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#cozyRowTrack{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#cozyRow::-webkit-scrollbar{
    display: none;
}
#teenRowTrack{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#teenRow::-webkit-scrollbar{
    display: none;
}